{% extends 'todo/base.html' %}

{% block content %}
    <h1>Menu</h1>
    <label class="col-sm-3 control-label">AppList</label>
    <form action="{% url 'todo:index' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-default">
            <i class="fa fa-plus"></i>Todo
        </button>
    </form>
    <form action="{% url 'accounts:signup' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-default">
            <i class="fa fa-plus"></i>Singup
        </button>
    </form>
    <label class="col-sm-3 control-label">Logout</label>
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
        <button type="submit" class="btn btn-default">
            <i class="fa fa-plus"></i>Logout
        </button>
    </form>
    
{% endblock %}