{% extends 'weather/base.html' %}

{% block script %}
{% endblock %}

{% block content %}
<form style="padding-top:10px;" action="{% url 'weather:next' %}" method="post" class="float-right">
    {% csrf_token %}
    <button class="button button-outline">update</button>
</form>
<h1>Weather</h1>

<form action="{% url 'weather:changePrefs' %}" method="post">
{% csrf_token %}
{{ form.prefs.label }}：
{{ form.prefs }}
</form>

{{ form.cities.label }}：
{{ form.cities }}
    <hr>
<form action="{% url 'menu:index' %}" method="post">
    {% csrf_token %}
    <button>◀︎Back</button>
</form>
<script type="text/javascript" src="../../static/js/index.js"></script>
{% endblock %}